numpy==1.19.5
tqdm==4.60.0
scipy==1.6.2
librosa==0.8.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu111
torch==1.8.1+cu111
graphviz==0.17
scikit_learn==0.24.2
tensorboardX==2.4
six==1.16.0
protobuf==3.20.*